img {width:100%;} 

.mb-4 {
    background-color: white;
    border-style: solid;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url('../images/rain.jpg');
    font-family: Arial, Helvetica, sans-serif;
    
}

.white-box {
    margin: 30px;
}
.container {
    background-color: white;
    color: black;
    padding-bottom: 10px;
 
}

.portfolioImg {
  margin-bottom: 20px;
} 

 p {
   
}


#nickPic {
    width: 200px;
    float: left;
    margin-right: 20px;
  
}

.navbar {
    margin-bottom: 20px;
    
}

.fontcolor {
    color: #4aaaa5; 

}
